@import 'base/_reset';
@import 'vendors/_bootstrapGrid';
@import 'vendors/_navbar';
@import 'themes/_dark';
@import 'abstracts/variables';
@import 'base/_tipography';
@import 'pages/_pagina2';
@import 'components/componentPrueba';


  

  





body {
    font-family: $fuente_light;
}

.pag2 {
    max-width:210rem;
    margin: 0 auto;
}





