@import 'base/_reset';
@import 'vendors/_bootstrapGrid';
@import 'vendors/_navbar';
@import 'themes/_dark';
@import 'abstracts/variables';
@import 'base/_tipography';
@import 'pages/_index';
// @import 'components/component_headerMainNav';
@import 'pages/_component_navMobile';
@import 'pages/_component_mainContent';
@import 'pages/_component_carritoLG';
@import 'pages/_component_footer';
@import 'components/_componentPrueba';
@import 'components/_componentDeal';
@import 'components/_componentPopDeal';
@import 'components/_componentDealSep';
@import 'components/_componentPizza';


  

  


.row {
    min-height:initial;
}


body {
    font-family: $fuente_light;
}

.pag1 {
    max-width:$anchoMaxPagIndex;
    margin: 0 auto;
}





