
// LAYOUT GENERAL

$anchonavMobile:12rem;
$altonavMobile:4.5rem;
$anchocarritoLG:25rem;
$altocarritoLG:4.5rem;

// SOMBRA COMPONENTES

$sombraCajaComp:0 1px 6px 0 rgba(32, 33, 36, .28);

// LAYOUT PAGINA INDEX
$anchoMaxPagIndex:135rem;


// COMPONENTE DEAL

$anchoCajaPrecRule:4.5rem;
$minAlturaIngred: 10.2rem;

$Btn_color_default:rgb(31, 146, 89);

