@import '~bootstrap/scss/bootstrap-reboot';


*,
*:after,
*:before {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

:root {
    font-size:62.50%;
}
a,
a:hover,
a:visited,
a:focus,
a:active{
    // text-decoration:none;
    color:inherit;
    text-decoration: none !important;
}

[class^='c_'] {
    width: 100%;
    // para visualización estas rules:
    display:block;
    // background:white;

}
p {
    margin-bottom:0;
}