@font-face {
    font-family: 'quicksandbold';
    src: url("../fonts/quicksand-bold-webfont.woff2") format("woff2"), url("../fonts/quicksand-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'quicksand_lightregular';
    src: url("../fonts/quicksand-light-webfont.woff2") format("woff2"), url("../fonts/quicksand-light-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'quicksand_mediumregular';
    src: url("../fonts/quicksand-medium-webfont.woff2") format("woff2"), url("../fonts/quicksand-medium-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'quicksandregular';
    src: url("../fonts/quicksand-regular-webfont.woff2") format("woff2"), url("../fonts/quicksand-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  

  $colorDefault:black;
  $fuente_light:'quicksand_lightregular';
  $fuente_medium:'quicksand_mediumregular';
  $fuente_regular:'quicksandregular';
  $fuente_bold:'quicksandbold';

  