@import 'abstracts/variables';

.c_mainContent{
    background:gainsboro;
    // display:flex;


}

@media only screen and (min-width:576px) {

    .c_mainContent {
            margin-left: $anchonavMobile;
    }

}
@media only screen and (min-width:992px) {

    .c_mainContent {
        width:calc(100% - #{$anchocarritoLG});
            margin-left: 0;
    }

} 
@media only screen and (min-width:1660px) {

    .c_mainContent {
        width:100%;
            margin-left: 0;
    }

} 
