@import 'abstracts/variables';

.c_carritoLG {
        background:lightblue;
        position:fixed;
        width:100vw;
        bottom:0;
        height:$altocarritoLG;
        display:flex;
        flex-flow: column;
        justify-content:center;
        align-items:center;
}


@media only screen and (min-width:576px) {

    .c_carritoLG {
            margin-left: $anchonavMobile;
            background:lightblue;
            position:fixed;
            width:calc(100vw - #{$anchonavMobile});
            bottom:0;
    }

}
@media only screen and (min-width:992px) {

    .c_carritoLG {
        margin-left:auto;
        background:lightblue;
        position:fixed;
        width:$anchocarritoLG;
        top:0;
        right:0;
        height:100vh;


    }

} 
@media only screen and (min-width:1802px) {

    .c_carritoLG {
        width:$anchocarritoLG;
            margin-left: 0;
    }

} 




