

.c_Btn {
    padding: .4rem 1rem;
    font-size: 1em;
    -webkit-appearance: none;
    border:none;
    border-radius:6px;
    color:rgba(255, 255, 255, 1);
    width:calc(100% - 2rem);
    margin: 0rem auto 1rem;
    display:block;    
}