.c_Btn {
    position:relative;
    background:$Btn_color_default;
    padding: .4rem 1rem;
    font-size: .9em;
    -webkit-appearance: none;
    border: none;
    border-radius: 6px;
    color: rgba(255, 255, 255, 1);
    width: calc(100% - 2rem);
    margin: 0rem auto 1rem;
    display: block;
    font-weight: 600;
    height:4rem;
    display:flex;
    justify-content: flex-end;
    transition:all .1s ease-in-out;
    &__Add {
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
    }

    &:active,
    &:focus {
        border: none;
        outline: 1px solid rgba(220, 220, 220, 1);
    }

    &:active {
        background:darken($Btn_color_default,10%);
    }
}