// @import '~bootstrap/scss/bootstrap.scss';

@import '_variables.scss';


body {
    font-family: 'quicksand_lightregular';
    color:white;
}

.parent {
    display:flex;
    justify-content:center;
    align-items: center;
    flex-flow:row wrap;
}

[class*="hijo"] {
    flex: 0 1 350px;
    margin:10px auto;
    background:white;
    color:black;
    padding:10px;
    // height:250px;
}






