@import '~bootstrap/scss/bootstrap.scss';
@import '_variables.scss';






$color:purple;



body {
    background:$color;
    color:white;
      font-family: 'quicksand_lightregular';


}

.img {
    background:url(../imgs/coches/img2.png) no-repeat center / contain;
    height:300px;
    transition:all 1s ease-in-out;
    display:flex;
}

.fa-check {
    color:lightblue;
    margin-left: 20px;
    // vertical-align: sub;
    font-size:.7em;
    cursor:pointer;
}
.fa-angle-left {
    color:gold;
    margin-left: 20px;
    // vertical-align: sub;
    font-size:.7em;
    cursor:pointer;
};


$lista:(
    h1 50px red,
    p 10px gold,
    h5 10px purple,
    h3 10px darkred
);


@each $el,$size,$col in $lista {

    #{$el} {
        font-size:$size;
        color:$col;
    }

}

$max:17;

@for $i from 1 to $max {

$act:$max - $i;
$norm:$i;
$w:percentage( $act / ($max - 1 ));
$fin:(100% - $w)  / 2;

.c-#{$i} {
    height:20px;
    background:darken(red,$fin);
    // width:$fin;
}


};