@import '~bootstrap/scss/bootstrap.scss';
@import '_variables.scss';



$color:gold;



body {
    background:$color;
    color:white;
      font-family: 'quicksand_lightregular';


}

.img {
    background:url(../imgs/img1.png) no-repeat center / contain;
    height:300px;
    transition:all 1s ease-in-out;
    display:flex;
}


