

.back--blue {
    background:rgb(31, 117, 146);
}
.back--green {
    background:rgb(31, 146, 89);
}
.back--red {
    background:rgb(184, 19, 69);
}

.back--gainsboro {
    background:rgba(220, 220, 220, 1);
}

